// COLORS
$color-primary: #1c577f;
$color-primary-dark: #164463;
$color-primary-light: #2487c9;
$color-primary-brightest: #83bde4;

$color-secondary: #19b5fe;
$color-secondary-light: #c9e2f3;

$color-white: #fff;
$color-black: #000;