.slideanim {
    visibility:hidden;
    }

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    visibility: visible;
    }